@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Splash Page of the Azure App</h1>
    <p>Learn about <a href="https://www.alfredoalea.org">building a blog site with MongoDB and React</a>.</p>
</div>
